.container
  form.edit
    fieldset
      .row
        .span8
          legend(ng-hide="paramName")= (lang === 'ja' ? '新規作成' : 'Create New Aggregator')
          legend(ng-show="paramName")= (lang === 'ja' ? '編集' : 'Update Aggregator')
          label= (lang === 'ja' ? '名前 ("/"区切り)' : 'Name (separated by "/")')
          .name-input
            input.span6(type="text", placeholder="food/japanese/sushi", ng-model="aggregator.name", ng-readonly="paramName", ng-change="checkAggregatorName()")
            span.name-availability(ng-hide="paramName")
              img(src="image/spinner.gif", ng-show="checking_name")
              span.icon-ok(ng-show="!cheking_name && name_is_available")
              span(ng-show="!checking_name && name_is_available")= (lang === 'ja' ? '利用可能' : 'Available')
              span(ng-show="aggregator.name && !checking_name && !name_is_available")= (lang === 'ja' ? '利用不可' : 'Not Available')
              span(ng-show="cheking_name", ng-bind="checking_name")
          
          label= (lang === 'ja' ? '説明文 (他の人も使えるようにアピール)' : 'Description')
          textarea.span8(ng-model="aggregator.description")

          label= (lang === 'ja' ? 'フィードURL (改行区切り)' : 'Feed URLs (separated by lines)')
          textarea.span8(ng-model="aggregator.feeds")

          label= (lang === 'ja' ? 'フィルタースクリプト' : 'Filter Script')
          select(ng-model="gist_id", ng-change="importFilterFromGist()")
            option(value="")= (lang === 'ja' ? 'フィルターのインポート' : 'Import a filter')
            option(value="dai-shi/5276006")= (lang === 'ja' ? 'タイトル中のキーワードで絞り込むフィルター' : 'filter by a keyword in a title')
            option(value="dai-shi/5274427")= (lang === 'ja' ? '初めの10件に絞り込むフィルター' : 'limit to first 10 entries')
            option(value="dai-shi/5276606")= (lang === 'ja' ? 'タイトルからURLを抜き出すフィルター' : 'get a URL from a title')
            option(value="dai-shi/5276584")= (lang === 'ja' ? 'AD,PRエントリーを除去するフィルター' : 'remove AD or PR entries')
            option(value="dai-shi/5309864")= (lang === 'ja' ? 'タイトルのキーワードを目立たせるフィルター' : 'highlight keywords in title')
            option(value="dai-shi/8934864")= (lang === 'ja' ? 'URLのリダイレクトをたどるフィルター' : 'follow URL redirects')
          img.import-spinner(src="image/spinner.gif", ng-show="gist_id")
          .codemirror-container
            textarea(ui-codemirror="{mode: 'javascript', fixedGutter: false, theme: 'solarized light'}", ng-model="aggregator.filter")

          label.checkbox(ng-hide="paramName")
            input(type="checkbox", ng-model="aggregator.browsable")
            span= (lang === 'ja' ? 'ホームの一覧に表示する (外した場合、名前を忘れるとアクセスできなくなります)' : 'Browsable (without knowing the name)')

      .row
        .span8
          .lockcode-area(ng-show="paramName")
            label.checkbox.pull-left(ng-hide="lockrequired")
              input(type="checkbox", ng-model="lockchecked")
              span= (lang === 'ja' ? '更新を制限するためのロックコードを入力' : 'Input lock code to restrict updating')
            span(ng-show="lockrequired")= (lang === 'ja' ? '更新するためのロックコードを入力 (ロックされています)' : 'Input lock code to update (This is locked)')
            input.lockcode.span3(type="text", ng-model="aggregator.lockcode", ng-show="lockchecked || lockrequired")

      .row
        .span8
          button.btn(ng-click="createNewAggregator()", ng-hide="paramName", ng-disabled="!aggregator.name || !aggregator.description || !aggregator.feeds || name_is_available != true")= (lang === 'ja' ? '登録' : 'Create')
          button.btn(ng-click="updateAggregator()", ng-show="paramName", ng-disabled="(lockchecked || lockrequired) && !aggregator.lockcode")= (lang === 'ja' ? '更新' : 'Update')
      hr
  .row
    .span8
      .rss-doc(ng-show="rssDoc")
        span.link-label= (lang === 'ja' ? 'RSSのURL' : 'RSS Link')
        input.span7(type="text", ng-model="displayUrl", ng-change="displayUrl=rssUrl")
        h3.rss-title(ng-bind="rssDoc.find('channel > title').text()")
        ul
          li(ng-repeat="itemEle in rssDoc.find('item').get()")
            a(target="_blank", ng-href="{{jQuery(itemEle).find('link').text()}}", ng-bind="jQuery(itemEle).find('title').text()")
  script
    setTimeout(function() {
      var ele = $('.codemirror-container');
      if ($('body').outerWidth() <= 767) {
        ele.css('width', '' + ele.outerWidth() + 'px');
      }
    });
