!!!
html(ng-app="MainModule")#ng-app
  head
    meta(charset="utf-8")
    meta(content="chrome=1", http-equiv="X-UA-Compatible")
    meta(content="width=device-width, initial-scale=1, user-scalable=no", name="viewport")
    title RSS Pipes
    style
      body { padding-top: 60px; }
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", rel="stylesheet")
    link(href="codemirror/codemirror.css", rel="stylesheet")
    link(href="codemirror/solarized.css", rel="stylesheet")
    style
      .btn-label { margin-left: 8px; }
      .separator { padding: 0 0 20px 0; border-bottom: 3px dotted #ccc; }
      .agg-item { padding: 20px 0 20px 0; border-bottom: 3px dotted #ccc; }
      form.edit .name-input { margin-bottom: 13px; }
      form.edit textarea { margin-bottom: 13px; }
      form.edit label.checkbox { margin-top: 8px; }
      form.edit button { margin-top: 8px; }
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js")
    script(src="codemirror/codemirror.js")
    script(src="codemirror/javascript.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js")
    script(src="js/common.js")
    script(src="js/main.js")
  body(ng-init="lang = '#{lang}'; sitePrefix = '#{sitePrefix}';")
    .navbar.navbar-fixed-top
      .navbar-inner
        ul.nav
          li
            a(href="#/home")
              strong RSS Pipes
          li
            a(href="#/home")
              span.icon-home
              span= (lang === 'ja' ? 'ホーム' : 'Home')
        ul.nav.pull-right
          li
            a(href="http://dai-shi.github.com/rss-pipes/")
              span.icon-book
              span= (lang === 'ja' ? '説明ページ' : 'Top Page')
    .container
      .row
        .span8.offset2
          .alert(ng-repeat="mainAlert in mainAlerts", class="alert-{{mainAlert.type}}")
            button.close(ng-init="autoDismissAlert(mainAlert);", ng-click="dismissAlert(mainAlert);") &times;
            span(ng-bind="mainAlert.message")
          .ng-view
